<a href="https://colab.research.google.com/github/lordaarush/TaskForAIMS-Imputers-and-Encoders-/blob/main/ModeImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({'A': np.random.randint(0, 10, size=10),
                   'B': np.random.randint(0, 10, size=10),
                   'C': np.random.randint(0, 10, size=10)})
df.loc[np.random.choice(df.index, size=3), :] = np.nan
print(df)

     A    B    C
0  7.0  9.0  2.0
1  NaN  NaN  NaN
2  6.0  2.0  5.0
3  6.0  6.0  8.0
4  7.0  9.0  4.0
5  0.0  6.0  8.0
6  7.0  4.0  5.0
7  8.0  8.0  4.0
8  NaN  NaN  NaN
9  NaN  NaN  NaN

In [11]:
for i in range(len(df.columns)):
    print(i)
    if df.iloc[:, i].isnull().values.any():
        #mode
        mode_value = df.iloc[:, i].mode()
        for j in range(len(df)):
            if pd.isnull(df.iloc[j, i]):
                df.iloc[j, i] = mode_value

print(df)

0
1
2
     A    B    C
0  7.0  9.0  2.0
1  7.0  6.0  4.0
2  6.0  2.0  5.0
3  6.0  6.0  8.0
4  7.0  9.0  4.0
5  0.0  6.0  8.0
6  7.0  4.0  5.0
7  8.0  8.0  4.0
8  7.0  6.0  4.0
9  7.0  6.0  4.0