<a href="https://colab.research.google.com/github/lordaarush/TaskForAIMS-Imputers-and-Encoders-/blob/main/OH_ENCODER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
data = {'Column1': ['A', 'B', 'A', 'C', 'B', 'C'],
        'Column2': ['X', 'Y', 'Y', 'X', 'Z', 'Z'],
        'Numeric': [10, 20, 15, 25, 18, 30]}
df = pd.DataFrame(data)
print(df)
categorical_columns = ['Column1', 'Column2']
OH_data = pd.get_dummies(df, columns=categorical_columns)
print(OH_data)

  Column1 Column2  Numeric
0       A       X       10
1       B       Y       20
2       A       Y       15
3       C       X       25
4       B       Z       18
5       C       Z       30
   Numeric  Column1_A  Column1_B  Column1_C  Column2_X  Column2_Y  Column2_Z
0       10          1          0          0          1          0          0
1       20          0          1          0          0          1          0
2       15          1          0          0          0          1          0
3       25          0          0          1          1          0          0
4       18          0          1          0          0          0          1
5       30          0          0          1          0          0          1